.tagline {
  margin-top: 60px;     /* mt-8 相当（8 × 4px = 32px） */
  text-align: center;   /* text-center */
  font-size: 16px;      /* text-base */
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.taglines {
  display: flex;
  flex-direction: column;
  gap: 4px;
}